#AboutUsBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  display: list-item;
}

.AboutUsTitle {
  font-size: large;
  padding: 10px;
  border-bottom: 2px solid;
}

.aboutText,
.offerText {
  padding: 1%;
}

.offerText > * {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 10px;
}

.offerText > * > :first-child {
  background-color: rgb(177, 154, 204, 0.5);
  padding: 5px;
}

.aboutBox,
.offerBox {
  margin: 3%;
  padding: 2%;
}

.profileText {
  padding: 5px;
  margin: 5px;
  border-bottom: dotted 2px;
}

#AboutUsBody > * {
  flex-grow: 1;
}

#AboutUsBody > header {
  background-image: url(../assets/aboutimage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#AboutUsBody h1 {
  position: relative;
  top: 200px;
  color: white;
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
  padding: 2%;
}

footer {
  background-color: var(--brown);
  color: white;
  padding: 10px;
  padding-bottom: 50px;
  margin-top: 80px;
  bottom: -100px;
}

@media (max-width: 860px) {
  #AboutUsBody > header {
    background-size: cover;
    background-position: 50%;
  }

  #AboutUsBody h1 {
    top: 150px;
  }
}

.aboutUs * {
  margin: 20px;
}

.aboutUs h2 {
  font-weight: bold;
  background-color: var(--brown);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.aboutUs h3 {
  font-weight: bold;
  border-bottom: 3px solid var(--purple);
  padding: 20px;
}

.viewAllBreedsLink {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
  margin: 3%;
}

.viewAllBreedsLink:hover {
  color: var(--purple);
  border-color: var(--purple);
}
