/*--- Used for DogBreedGallery and FavoritesGrid ---*/

/*- to ensure constant gap between elements in grid when scaling-*/
.grid-container {
  display: flex;
  justify-content: center;
}

.dog-breed-gallery {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  padding-top: 10px;
}

.dog-breed-gallery > * {
  border-radius: 12px;
}

/*- Responsive media queries -*/
@media (max-width: 1330px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 990px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
}

@media (max-width: 650px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.loadButton {
  margin: 2%;
  padding: 1%;
  background-color: var(--purple);
  border-radius: 5px;
  color: black;
}

.loadButton:hover {
  background-color: #382f3f;
  color: white;
}
