.dog-breed-detail {
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.dog-breed-detail img {
  max-height: 400px;
  object-fit: cover;
  width: 40%;
}

@media (max-width: 900px) {
  .dog-breed-detail {
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }

  .dog-breed-detail img {
    width: 100%;
  }

  #dogInfo {
    min-width: 100%;
    object-fit: cover;
  }
}

.dog-breed-detail > * {
  flex-grow: 1;
}

#dogInfo {
  background-color: default;
  width: 60%;
}

#dogInfo :not(:first-child) {
  padding: 2%;
}

#dogInfo h1 {
  border-bottom: solid 2px var(--green);
  padding: 2%;
  padding-bottom: 0.5%;
  margin: 15px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* comment-area */

.commentHeader {
  justify-content: center;
  margin: 1%;
  padding: 1%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.comment-form button {
  margin: 1%;
  padding: 1%;
  background-color: rgb(177, 154, 204);
  border: none;
  border-radius: 5px;
  color: #28271b;
  font-size: 110%;
}

.comment-form button:hover {
  background-color: rgb(95, 75, 119);
  color: white;
}

.comment-form button:active {
  background-color: rgb(177, 154, 204);
}

.commentSection {
  margin: 2%;
}

.commentElement {
  background-color: white;
  box-shadow: #28271b 0px;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 1.5%;
}

.commentElement p {
  margin: 0.5%;
  padding: 0.5%;
}

.commentName {
  font-size: 120%;
  font-weight: bold;
}

#favorite-btn {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.favorite-button img {
  width: 20px;
  height: 20px;
}
