.dog-breed-gallery {
  display: grid;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  padding-top: 10px;
}

.dog-breed-gallery > * {
  border-radius: 12px;
}

@media (max-width: 1300px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.loadButton {
  margin: 2%;
  padding: 1%;
  background-color: var(--purple);
  border-radius: 5px;
  color: black;
}

.loadButton:hover {
  background-color: #382f3f;
  color: white;
}
