.breed-card {
  justify-content: center;
  align-items: center;
  margin: 2%;
  text-align: center;
}

.breed-card p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
}

.breed-card *{
  padding-top: 2%;
}

.breed-card img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.dog-breed-gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.dog-breed-gallery>*{
  border-radius: 12px;
}

.dog-breed-gallery> :hover{
  background-color: var(--green);
  transition: 0.5s;
}

@media (max-width: 1300px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}

.favorite-button {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-icon {
  height: auto;
  width: 50px;
  max-width: auto;
}
