.breed-card {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 1%;
  text-align: center;
}

.dog-breed-gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media (max-width: 1024px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .dog-breed-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px; 
  }
}

.favorite-button {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-icon {
  height: auto;
  width: 50px;
  max-width: auto;
}
