.favorites-header{
  background-color: var(--brown);
  width: 100%;
  padding: 1%;
  color: white;
}

.favorites-grid {
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
