#homeBody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  display: list-item;
}

#homeBody > * {
  padding: 2%;
  flex-grow: 1;
}

#homeBody > header {
  background-image: url(../assets/aboutimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#homeBody h1 {
  position: relative;
  top: 200px;
  color: white;
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
}

footer {
  background-color: var(--brown);
  margin: 0px;
  color: white;
}

@media (max-width: 860px) {
  #homeBody > header {
    background-size: cover;
    background-position: 50%;
  }

  #homeBody h1 {
    top: 150px;
  }
}

.aboutUs * {
  margin: 20px;
}

.aboutUs h2 {
  font-weight: bold;
  background-color: var(--brown);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.aboutUs h3 {
  font-weight: bold;
  border-bottom: 3px solid var(--purple);
  padding: 20px;
}

.viewAllBreedsLink {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}

.viewAllBreedsLink:hover {
  color: var(--purple);
  border-color: var(--purple);
}
