.navbar {
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  color: #28271b;
  position: sticky;
  top: 0;
  width:100%;
  justify-content: space-between;
}

.navbar a {
  padding: 1vh;
  margin: 1vh;
  text-decoration: none;
  color: #28271b;
  display: inline;
  background-color: transparent;
  border: 3px solid transparent
}

.navbar a:hover {
  border-color: #ede0d9;
  color: #ede0d9;
  border-radius: 5px;
}

.navbar a:active {
  border-color: #28271b;
  color: #28271b;
}

.navbar-logo {
  height: 60px;
  padding-right: 20px;
}

@media (max-width: 768px) {

  .navbar a {
    padding: 15px;
    width: 100%;
    text-align: center;
  }

  .navbar-logo {
    padding-right: 0;
    margin-bottom: 10px;
  }
}

