.scroll-btn {
    position: fixed;
    top: 95px;
    left: 15px;
    font-size: 2rem;
    z-index: 1000;
    cursor: pointer;
    color: white;
    background-color: var(--green);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 50px;
    border-radius: 2px;
  }
  
  .scroll-btn:hover {
    background-color: var(--darkgreen);
  }
  