#sortOrFilter {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: var(--brown);
  padding: 0.5%;
  margin: 1%;
  border-radius: 10px;
  color: white;
  justify-content: space-between;
}

#firstRow,
#secondRow {
  display: flex;
  flex-direction: row;
}

#secondRow > * {
  justify-content: space-around;
}

#reset-btn {
  padding: 10px;
  font-size: 1rem;
  color: #3a3224;
  background-color: var(--purple);
  border: none;
  border-radius: 5px;
}

#reset-btn:hover {
  background-color: #64543e;
  color: #ede0d9;
}

#reset-btn:active {
  transform: scale(0.95);
  background-color: #3a3224;
}

@media (max-width: 768px) {
  #sortOrFilter {
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
  }
}
