#sortOrFilter {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #6b6255;
  padding: 0.5%;
  margin: 1%;
  border-radius: 50px;
  color: white;
  justify-content: space-between;
}

#firstRow, #secondRow{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

#filter {
  padding: 10px;
  font-size: 1rem;
  color: #887153;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

#filter:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#sort {
  padding: 10px;
  font-size: 1rem;
  color: #887153;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

#sort:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#sortOrFilter input[type='text'] {
  padding: 10px;
  font-size: 1rem;
  color: #887153;
  background-color: white;
  border: none;
  border-radius: 5px;
}

#sortOrFilter input[type='text']:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#sortOrFilter input[type='text']::placeholder {
  color: #887153;
}

#reset-btn {
  padding: 10px;
  font-size: 1rem;
  color: #3a3224;
  background-color: var(--purple);
  border: none;
  border-radius: 5px;
}

#reset-btn:hover {
  background-color: #64543e;
  color: #ede0d9;
}

#reset-btn:active {
  transform: scale(0.95);
  background-color: #3a3224;
}

@media (max-width: 768px) {
  #sortOrFilter{
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
  }
}
